        .sortable {
            cursor: pointer;
        }

        /* Add styles for table headers if needed */
        .sortable::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }

        /* Up arrow */
        .asc::after {
            content: '↑';
            color: #000;
            font-size: 15px;
            font-weight: bold;

        }

        /* Down arrow */
        .desc::after {
            content: '↓';
            color: #000;
            font-size: 15px;
            font-weight: bold;
        }
